<hr style="width:620px">
<div id="coupon_content" style="margin-left: 26px; width: 92%;">
  <div style="font-family: arial;">
    <div style="font-size: 15px; font-weight: bold; ">
      More Information: <%=@content.name%>
    </div>
    <br/><br/>
    <div>
      Important information Read this medicine information sheet carefully each time you get this medicine filled.
    </div>
    <br/><br/>
    <div>
      Issue Date: <%=@content.issue_date%>
      <br/>
      Pronunciation: <%=@content.pronunciation%>
      <br/>
      Brand Name: <%=@content.brand_name%>
      <br/><br/>
      <span style="font-weight:bold;">This medicine is used for:<%=@content.usage%></span>
    </div>
  </div>
</div>

